$buttonColor: green;
$navMaxWidth: 300px;
$navColor: orange;
$containerMargin: 0 auto;
$ContainerMaxWidth: 450px;
$headingFontSize: 38px;

// uzduotis2 
$backgroundColor: whitesmoke;
$borderColor: grey;