form {
    border: 3px solid rgba(126, 126, 126, 0.5);
    border-radius: 15px;
    width: 25%;
    margin: auto;
    text-align: right;
    padding: 10px;
}

input, select, fieldset {
    width: 50%;
    box-sizing: border-box;
}

input[type='radio'] {
    width: auto;
}

input:required:valid {
    border: 2px solid green;
}

input:required:invalid {
    border: 2px solid red
}

#card-number:in-range {
    border: 2px solid green;
}

#card-number:out-of-range {
    border: 2px solid red;
}

input::selection {
    border: none;
}

fieldset {
    margin-left: auto;
    text-align: left;
    margin-right: 0;
}

h1, h2, p {
    text-align: left;
}

#datePickerLabel {
    margin-right: 50%;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: aqua;

}

button:hover {
    background-color: rgb(0, 139, 139);
}