html {
    background-image: url(https://alexjonesavi.github.io/CAdarbai/pamokunuotraukos/forma.avif);
    background-size: cover;
    background-position: center;
    height: 100%;
}

form {
    border: 1px solid white;
    background-color: white;
    width: 45%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

input,
label,
textarea {
    display: block;
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    background: none;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

input,
textarea {
    border-bottom: 2px solid rgb(61, 61, 61);
    resize: none;
}

label {
    margin-bottom: -10px;
}

fieldset {
    display:flex;
    width: 40%;
    border: none;
}

fieldset label, fieldset input {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-right: 20px;
}

button {
    background-color: rgb(63, 63, 63);
    color: white;
    width: 25%;
    margin: 10px;
    padding: 3px;
}
