html {
    background: url(https://alexjonesavi.github.io/CAdarbai/pamokunuotraukos/siteBackground.jpg);
    background-size: cover;
}

#navigation {
    text-align: center;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-style: dashed;
    border-color: rgb(146, 1, 1);
}

.navBar {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: dotted;
    border-color: rgb(190, 0, 0);
    margin-right: 5px;
    margin-left: 5px;
}

.row {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.column {
    width: 33%;
    padding: 2rem;
}

a,
a:visited {
    color: rgb(87, 152, 250);
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
}

.mainPageList {
    color: rgb(221, 224, 35);
    text-align: center;
    list-style-position: inside;
}

#paragrafas {
    color: aqua;
    background-color: black;
    text-align: center;
}

.about {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    color: rgb(214, 175, 0);
    text-align: center;
}

.listItem {
    text-align: left;
}

#mePicture {
    text-align: center;
}

#me {
    box-shadow: 15px, 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#aboutHeader {
    text-align: center;
    color: rgb(184, 119, 0);
}
