#welcomePicture {
    text-align: center;
}

a, a:visited {
    color:darkcyan;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

ul {
    color:crimson;
}

#paragrafas {
    color: blueviolet;
}
