html {
    background-color: darkviolet;
}

#poster {
    color: orangered;
    border-style: dotted;
    border-color: orange;
    border: 2px;
    text-align: center;
    text-shadow: 2px;
}

#CSSHeader {
    color: orange;
}

#loremp {
    text-align: left;
}