html {
    background-color: rgb(73, 0, 104);
}

.poster {
    color: rgb(175, 47, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border-style: dotted;
    border-color: orange;
    text-align: center;
    margin: 15% 35%;
}

#CSSHeader {
    color: orange;
}

#loremp {
    text-align: justify;
    letter-spacing: 2px;
    text-shadow: 3px 2px black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

#letter {
    font-size: 28px;
    font-weight: bold;
}

#image {
    width: 85%;
    border-radius: 25px;
    border-top-color: white;
    border-left-color: blue;
    border-right-color: black;
    border-bottom-color: green;
    border-style: solid;
    border-width: 15px;
}
