html,
body {
    background-color: gainsboro;
    width: 75%;
    margin: 0 auto;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 10%;
}

nav {
    background-color: whitesmoke;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}

.grid-item.content {
    grid-row: span 2;
}

p {
    text-align: center;
    color: gray;
}

@media screen and (max-width: 520px) {
    body {
        width: 100%;
    }
    #logo img {
        width: 25%;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav a {
        padding: 1rem;
        color: rgb(47, 189, 255);
        text-decoration: underline;
    }

    nav a:not(:last-child) {
        border-bottom: 1px solid rgb(192, 192, 192);
    }
    .grid-item.login {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-item.content {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .grid-item.help {
        display: none;
    }
}
