/* site CSS */

:root {
    --secondary-font-color: #645cff;
    --main-font-color: #0f172a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header and Footer CSS */

header ul {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 span {
    color: var(--secondary-font-color);
}

.socials a {
    text-decoration: none;
    padding: 0.3rem;
}

.socials i {
    background-color: var(--secondary-font-color);
    color: #222222;
    padding: 1px 5px;
    font-size: 20px;
}

.socials a:nth-child(1) i {
    border-radius: 50%;
    padding-bottom: 0;
}

.socials a:nth-child(2) i {
    color: var(--secondary-font-color);
    background-color: #222222;
}

header .socials a:nth-child(2) i {
    background-color: white;
}

.socials a:nth-child(3) i {
    border-radius: 15%;
    padding-top: 0.15rem;
}

header .socials i {
    color: white;
}

footer {
    background-color: #222222;
    padding: 4rem 0;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation ul {
    list-style-type: none;
    padding: 0;
}

.footer-navigation ul li {
    display: inline;
    color: white;
}

.footer-navigation ul a {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 500;
}

footer section,
footer p {
    padding: 1rem;
}

/* Body CSS */
/* Welcome section */

main h1 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 42px;
}

main h2 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
}

main section {
    padding: 3rem 0;
}

.welcome {
    background-color: var(--secondary-font-color);
    padding: 20rem 0rem;
}

.welcome div {
    color: white;
    width: 70%;
    margin: 0 auto;
}

.welcome h1 {
    font-size: 62px;
}

.welcome p {
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.welcome button {
    background-color: var(--secondary-font-color);
    color: white;
    font-weight: 500;
    padding: 0.6rem;
    border: 1px solid #5750e6;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #5750e6;
    border-radius: 3px;
}

/* About and Services section */

img {
    width: 100%;
}

.about {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 9rem;
}

.about h1 {
    text-align: center;
    padding-bottom: 3rem;
}

.about h2 {
    padding-top: 2rem;
}

.about a,
.about a:visited {
    text-decoration: none;
    color: var(--secondary-font-color);
}

.services {
    background-color: rgb(248, 248, 248);
}

.services-icon {
    background-color: var(--secondary-font-color);
    padding: 0.5rem;
    padding-top: 1.2rem;
}

.services i {
    padding-top: 4rem;
    font-size: 32px;
}

.services h2 {
    padding: 1rem 0 0.5rem 0;
}

.services p {
    width: 40%;
    margin: 0 auto;
}

/* Featured tours and gallery section */

.tours {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.tour-item {
    border: 1px solid whitesmoke;
    margin: 4rem 0;
    box-shadow: 0.5px 0.5px 0.5px 0.5px whitesmoke;
}

.tour-item h4,
.tour-item h3 {
    font-weight: 500;
    text-align: left;
}

.tour-item .date {
    position: absolute;
    padding: 6px;
    background-color: var(--secondary-font-color);
}

.tour-item .tour-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}

.tour-item h3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.tour-info .place {
    color: var(--secondary-font-color);
}

.tour-info .place i {
    letter-spacing: 5px;
}

.tours a,
.tours a:visited {
    color: var(--secondary-font-color);
    text-decoration: none;
    font-weight: 600;
}

.gallery {
    background-color: rgb(248, 248, 248);
    padding-top: 1rem;
    padding-bottom: 0;
}

.gallery img {
    display: block;
    border-bottom: 5px solid var(--secondary-font-color);
}

.gallery img:last-child {
    border-bottom: none;
}

/* Contact section */

.contact {
    background-color: var(--secondary-font-color);
    color: white;
}

.contact-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.contact h3 {
    text-align: left;
    font-weight: 500;
}

.contact .right {
    display: flex;
    border: 1px solid var(--secondary-font-color);
}

.contact input {
    flex-grow: 2;
    border: none;
    padding: 8px;
}

.contact button {
    border: 2px solid white;
    padding: 0 10px;
    background: rgb(245, 245, 245);
}

/* Dekstop version */

@media screen and (min-width: 1024px) {
    /* header, welcome and about section */

    header ul,
    header ul li,
    header ul a {
        display: inline;
        padding: 10px;
        text-decoration: none;
        color: var(--main-font-color);
        font-weight: 500;
    }

    .welcome {
        background-image: url(assets/welcome.jpg);
        background-size: 100%;
    }

    .about {
        padding-bottom: 15rem;
    }

    .about img {
        width: 30%;
        float: left;
        margin-left: 20%;
        border: 4px solid var(--secondary-font-color);
    }

    .about .text-container {
        width: 40%;
        margin: 0 auto;
        text-align: justify;
        margin-right: 5%;
    }

    /* services, tours and gallery section */

    .services-flex {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .tour-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .tour-item img {
        height: 70%;
    }

    .gallery div {
        display: flex;
    }

    .gallery img {
        border-bottom: none;
        width: 25%;
    }

    /* Contacts and footer section */

    .contact {
        padding-top: 0;
    }

    .contact .left {
        width: 50%;
    }

    .contact .left h3 {
        text-align: center;
    }
}
