html, body {
    background-color: rgba(209, 209, 209, 0.644);
}

#main {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
}

header {
    background-color: rgb(142, 207, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    margin-right: 10px;
}

#nav-image {
    justify-self: flex-start;
    width: 15%;
}

main {
    display: flex;
    flex-flow: row nowrap;
    text-align: justify;
    padding: 15px;
}

#about {
    display: flex;
    flex-flow: column nowrap;
    margin: 12px;
}

#actions {
    display: flex;
    flex-flow: column nowrap;
    margin: 12px;
}

#actions img {
    max-width: 50%;
    float: left;
}

p {
    margin-top: 0;
}

button {
    align-self: flex-end;
    border: none;
    background-color: rgb(142, 207, 43);
    color: white;
    padding: 12px;
    width: 25%;
}
