main {
    display: flex;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 25%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
}

img {
    width: 75%;
}

.invisible {
    display: none;
}
